name: Build

on: 
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Download Gang Beasts
        uses: TheUltimateNuke/steam-download@v1.0.0
        with:
          username: ${{ secrets.STEAM_USERNAME }}
          password: ${{ secrets.STEAM_PASSWORD }}
          vdf: ${{ secrets.STEAM_VDF }}
          vdf_compressed: false
          appid: ${{ secrets.STEAM_APP_ID }}
          path: "${{ github.workspace }}"

      - name: Verify Gang Beasts Executable
        run: |
          if (!(Test-Path "${{ github.workspace }}\\Gang Beasts.exe")) {
            Get-ChildItem -Path "${{github.workspace}}" | Write-Output

            throw "Gang Beasts.exe not found!"
          }

      - name: Install MelonLoader
        run: |
          Invoke-WebRequest -OutFile "${{ github.workspace }}\\MelonLoader.x64.zip" -Uri https://github.com/LavaGang/MelonLoader/releases/latest/download/MelonLoader.x64.zip
          Expand-Archive -Path "${{ github.workspace }}\\MelonLoader.x64.zip" -DestinationPath "${{ github.workspace }}"

      - name: Test-run Gang Beasts
        run: |
          & "${{ github.workspace }}\\Gang Beasts.exe"
          Start-Sleep -Seconds 120
          Get-Process -Name "Gang Beasts" -ErrorAction SilentlyContinue | Stop-Process -Force

      - name: Find and copy assemblies to package
        run: |
          Copy-Item "${{ github.workspace }}\\MelonLoader\\Il2CppAssemblies" -Filter *.dll -Destination "${{ github.workspace }}\\package\\lib\\net6.0" -Recurse
          
      - uses: actions/upload-artifact@v4.6.0
        name: Upload Artifacts
        with:
          name: lib
          if-no-files-found: error
          path: "${{ github.workspace }}\\package\\lib\\net6.0\\*.dll"
  publish:
    needs: build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          name: lib
          path: package/lib/net6.0

      - uses: NuGet/setup-nuget@v1.2.0
        with:
          nuget-version: 'latest'
          
      - name: Pack NuGet Package
        run: |
          nuget pack package -OutputFileNamesWithoutVersion -OutputDirectory build -Properties "run=${{github.run_number}}"

      - name: Upload NuGet Package Artifact
        uses: actions/upload-artifact@v4
        with:
          name: nuget
          path: build/*.nupkg
